 a {
        text-decoration: none;
        
        font-weight: 500;
    }

  
    a:hover {
        color: #d33682 !important;
        text-decoration: none;
    }


    .list-unstyled li{
        margin-left: 5px;

    }

    ul {
        list-style-type: none;
        color: black;
    }

    img{
        margin-right: 10px;
    }

    
.container{
    color: black !important;
}

    @media (min-width: 780px) {
        .m{
            margin-left: 50px;
        }
      }


    @media (max-width: 780px) {
        .d-flex {
          flex-direction: column;
        }
      }

    hr {
        margin-top: 0px;
        margin-bottom: 5%;
    }

    #MainMenu {
        visibility: hidden;
    }

    footer {
        visibility: hidden;
    }

    header {
        visibility: hidden;
    }

    body {
        background-color: #f2f2f2;
        color: black !important;
    }

    button:hover {
        background-color: #d33682 !important;
        color: white !important;
    }

    main{

        
        margin-left: 50px;
        margin-right: auto;
    }
